/**************************TAG SELECTOR**********************/
body {
  background-color: #eaf6f6;
}

h1 {

  color: #45b29a;
  font-size: 40px;
  background-color: white;

}

h2 {
  color: #45b29a;
  background-color: white;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1:hover{
  background-color: white;
}

img:hover{
  background-color:white;
}

/*
img{
  background-color: red;



}*/
/*****************************CLASS SELECTOR************************/
.love{
  background-color: black;
}
.profilepic{
  border-radius: 50%
}

/******************************ID Selector*******************/
#myname {
  /* id must be unique*/
  color: #00A19D;
}
